body {
    font-family: Roboto;
}

/* Search */

#search_artist{
    padding: 20px;
}

#search_artist .wrapper {
    margin: 0 auto;
}

#search_artist .wrapper h1 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
    color: #00BCD4;
    font-family: 'Pacifico', cursive;
}